<h3 class="page-header"> Список покупок </h3>
<h4 class="page-header"> Страница {{page}} </h4>
<div class="panel">
    <div class="form-inline">
        <form [formGroup]="productAddForm" novalidate>
            <div class="form-group">
                <input type="text"
                       placeholder = "Название"
                       formControlName="productName"
                       class="form-control">
                <div *ngIf="productAddForm.controls['productName'].invalid 
                    && productAddForm.controls['productName'].touched">
                        неверно
                </div>
            </div>

            <div class="form-group">
                
                <input type="number" 
                       placeholder="Цена"
                       formControlName="productPrice"
                       class="form-control">
                <div *ngIf="productAddForm.controls['productPrice'].invalid 
                    && productAddForm.controls['productPrice'].touched">
                        неверно
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-default"
                        class="form-control" 
                        (click)="showAlert(1,productAddForm.controls['productName'].value)"
                        (click)="addProduct()"
                        [disabled]="productAddForm.invalid">
                    {{productsResources.btnAddProduct}}
                </button>
            </div>                        

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" 
                    (click)="DelAllProducts(Products)"
                    (click)="showAlert(3,'')"
                    >
                        {{productsResources.btnDelAllProduct}}
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    Итоговая цена: {{totalPrice | currency:'BYN'}}
                </div>
            </div>
         </form> 
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><button (click)="sortProducts('id')">Номер</button> </th>
                <th (click)="sortProducts('purchase')">Предмет </th>
                <th></th>
                <th (click)="sortProducts('amount')">Количество</th>
                <th (click)="sortProducts('price')">Цена/шт.</th>
                <th>Общая цена</th>
                <th>Куплено</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Product of resulProducts; let i = index">
                <td>
                    {{Product.id | number:'2.0-0'}}
                </td>
                <td>
                    {{Product.purchase | TestPipe}}
                </td>
                <td>
                    <button [routerLink]="['info', Product.id]" 
                     class="btn btn-default">
                        {{productsResources.btnAboutProduct }}
                    </button>
                </td>                   
                <td>
                    <input type="number" [(ngModel)]="Product.amount"/>
                </td>
                <td>
                    {{Product.price | currency:'BYN'}}
                </td>
                <td>
                    {{Product.price*Product.amount | currency:'BYN'}}
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="Product.done">
                </td>
                <td>
                    <button class="btn btn-default" 
                    (click)= "showModal(Product, modalContent)">
                        {{productsResources.btnDelProduct}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="panel" style="display: flex">
    <select [(ngModel)]="productsPerPage">
        <option value="3">3 продукта на страницу</option>
        <option value="6">6 продуктов на страницу</option>
        <option value="8">8 продуктов на страницу</option>
    </select>

    <button class="btn-page" 
            (click)="findPage(page-1)"
            [disabled]="disableBtnBackPage(page)">
        <
    </button>
    <div *ngFor="let page of pageNumbers" >
        <div [ngSwitch]="page">
            <ng-template ngSwitchCase="-1">
                <p style="margin: 0">..</p>
            </ng-template>
            <ng-template ngSwitchDefault>
                <button class="btn-page" 
                    (click)="findPage(page)"
                    [ngClass]="isActiveButton(page)">
                        {{ page }}
                </button>
            </ng-template>            
        </div>    
    </div>
    <button class="btn-page" 
            (click)="findPage(page+1)"
            [disabled]="disableBtnNextPage(page, pageNumbers)">
        >
    </button>
</div>

