.alertContainer {
	position: absolute;
	z-index: 1050;
	width: 200px;
	min-height: 100px;
	box-shadow: -2px 2px 20px 9px currentColor;
	padding: 10px;
	border-radius: 10px;

}

.alertClose {
	position: absolute;
	top: 0;
	right: 0;
	border:none;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}